.counter {
    min-width: 970px;
}

.mainTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 700;
    margin: 30px auto;
    width: 150px;
    height: 30px;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 30px auto;
}

.btnCounter {
    margin: 10px;
    width: 80px;
    height: 16px;
    border: 1px solid bisque;
    border-radius: 6px;
    background-color: bisque;
    color: chocolate;
}
