.input {
    width: 150px;
    height: 30px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    background: none;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
    color: rgba(82, 81, 80, 0.336);
    margin: 30px auto;
}