.input {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    margin: 30px auto;
    width: 150px;
    height: 30px;
    border-bottom: 1px solid whitesmoke;
    background: none;
    color: rgba(82, 81, 80, 0.336);
}